<section
  class="contact"
  id="contact"
  [ngsRevealSet]="{
    reset: false,
    distance: '180px',
    duration: 2000,
    delay: 200,
    origin: 'left'
  }"
  [ngsSelector]="'.contact'"
>
  <h2 class="heading">Contáctame</h2>

  <form (ngSubmit)="sendEmail()" [formGroup]="formContact">
    <div class="input-box">
      <div class="form-group">
        <input
          type="text"
          placeholder="Nombre completo *"
          formControlName="fullName"
        />
        <label
          class="error-message"
          *ngIf="fullName.invalid && fullName.touched"
          >El nombre completo es requerido</label
        >
      </div>
      <div class="form-group">
        <input
          type="email"
          placeholder="Correo electrónico *"
          formControlName="email"
        />
        <label class="error-message" *ngIf="email.invalid && email.touched"
          >El correo electronico es requerido</label
        >
      </div>
    </div>

    <div class="input-box">
      <div class="form-group">
        <input
          type="number"
          placeholder="Número de teléfono *"
          formControlName="phoneNumber"
        />
        <label
          class="error-message"
          *ngIf="phoneNumber.invalid && phoneNumber.touched"
          >El número de telefono es requerido</label
        >
      </div>
      <div class="form-group">
        <input type="text" placeholder="Asunto *" formControlName="subject" />
        <label class="error-message" *ngIf="subject.invalid && subject.touched"
          >El asunto es requerido</label
        >
      </div>
    </div>

    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Ingrese su mensaje"
      formControlName="message"
    ></textarea>

    <input type="submit" value="Enviar mensaje" class="btn" />
  </form>
</section>
