<section
  class="contact"
  id="contact"
  [ngsRevealSet]="{
    reset: false,
    distance: '180px',
    duration: 2000,
    delay: 200,
    origin: 'left'
  }"
  [ngsSelector]="'.contact'"
>
  <h2 class="heading">Contáctame</h2>

  <form action="">
    <div class="input-box">
      <input type="text" placeholder="Nombre completo" />
      <input type="email" placeholder="Correo electrónico" />
    </div>

    <div class="input-box">
      <input type="number" placeholder="Número de teléfono" />
      <input type="text" placeholder="Asunto" />
    </div>

    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Ingrese su mensaje"
    ></textarea>

    <input type="submit" value="Enviar mensaje" class="btn" />
  </form>
</section>
