<section class="about" id="about">
  <div class="about-img">
    <img src="assets/images/home.png" alt="" />
  </div>

  <div class="about-content">
    <h2 class="heading">Acerca <span>de mi</span></h2>
    <h3>Desarrollador Fullstack</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      eius quisquam magnam itaque amet illo. Excepturi non assumenda veritatis
      voluptate autem culpa tempora, accusamus pariatur enim aspernatur libero,
      debitis voluptatibus!
    </p>
    <a href="" class="btn">Leer más...</a>
  </div>
</section>
