<section class="about" id="about">
  <div
    class="about-img"
    [ngsRevealSet]="{
      reset: false,
      distance: '120px',
      duration: 2000,
      delay: 200,
      origin: 'bottom'
    }"
    [ngsSelector]="'.about-img'"
  >
    <img src="assets/images/home.png" alt="" />
  </div>

  <div
    class="about-content"
    [ngsRevealSet]="{
      reset: false,
      distance: '180px',
      duration: 2000,
      delay: 200,
      origin: 'left'
    }"
    [ngsSelector]="'.about-content'"
  >
    <h2 class="heading">Acerca <span>de mi</span></h2>
    <h3>Desarrollador Fullstack</h3>
    <p>
      Cuento con varios años de experiencia trabajando como desarrollador
      Backend y Frontend manejando diversas tecnologías como:
      <span>Angular, NodeJS, Java, Spring, etc</span>.
    </p>
    <p>
      La experiencia me ha fortalecido para resolver problemas y mejorar
      continuamente mi stack tecnológico, entre las actividades que realizo
      están los siguientes:
    </p>
    <ul>
      <li>Análisis y estimación de requerimientos.</li>
      <li>Desarrollo de algoritmos.</li>
      <li>Desarrollar y documentar servicios REST.</li>
      <li>Maquetar UI de las aplicaciones.</li>
      <li>
        Integrar servicios REST en el Frontend y darle funcionalidad a la UI.
      </li>
      <li>
        Diseñar y desarrollar base de datos relacionales y no relacionales.
      </li>
      <li>Creación y ejecución de pruebas unitarias.</li>
      <li>Configuración de entornos de despliegue de aplicaciones.</li>
    </ul>
    <!-- <a href="" class="btn">Leer más...</a>-->
  </div>
</section>
