<section class="services" id="services">
  <h2 class="heading">Mis <span>Servicios</span></h2>

  <div
    class="services-container"
    [ngsRevealSet]="{
      reset: false,
      distance: '180px',
      duration: 2000,
      delay: 200,
      origin: 'bottom'
    }"
    [ngsSelector]="'.services-container'"
  >
    <div class="services-box">
      <i class="bx bxs-devices"></i>
      <h3>Desarrollo Frontend</h3>
      <p>
        Me encargo de construir una UI amigable y fácil de utilizar, así como
        integrar los servicios REST del backend, darle funcionalidad y flujo a
        cada módulo de las aplicaciones, manejo de seguridad de usuarios y
        datos.
      </p>
      <!--<a href="#" class="btn">Leer más</a>-->
    </div>

    <div class="services-box">
      <i class="bx bx-code-alt"></i>
      <h3>Desarrollo de APIs</h3>
      <p>
        Desarrollo de servicios REST para implementar la lógica de negocio de la
        aplicación, persistir la información a nivel base de datos, manejo de
        seguridaden cuanto a usuarios, roles y datos, documentación de
        servicios.
      </p>
      <!--A<a href="#" class="btn">Leer más</a>-->
    </div>

    <div class="services-box">
      <i class="bx bxs-devices"></i>
      <h3>Desarrollo móvil</h3>
      <p>
        Construir aplicaciones nativas en Android y aplicaciones híbridas,
        construir una UI amigable, así como integrar los servicios REST y darle
        funcionalidad a los módulos de la aplicación, maneja de seguridad de
        usuarios y datos.
      </p>
      <!--<a href="#" class="btn">Leer más</a>-->
    </div>
  </div>
</section>
