<section class="services" id="services">
  <h2 class="heading">Mis <span>Servicios</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class="bx bxs-devices"></i>
      <h3>Desarrollo Frontend</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque,
        reprehenderit. Aliquid doloribus velit iste ab veniam. Temporibus,
        dignissimos perferendis adipisci vel laboriosam facilis itaque obcaecati
        nesciunt voluptas voluptate distinctio rerum.
      </p>
      <a href="#" class="btn">Leer más</a>
    </div>

    <div class="services-box">
      <i class="bx bx-code-alt"></i>
      <h3>Desarrollo de APIs</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque,
        reprehenderit. Aliquid doloribus velit iste ab veniam. Temporibus,
        dignissimos perferendis adipisci vel laboriosam facilis itaque obcaecati
        nesciunt voluptas voluptate distinctio rerum.
      </p>
      <a href="#" class="btn">Leer más</a>
    </div>

    <div class="services-box">
      <i class="bx bxs-devices"></i>
      <h3>Desarrollo móvil</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque,
        reprehenderit. Aliquid doloribus velit iste ab veniam. Temporibus,
        dignissimos perferendis adipisci vel laboriosam facilis itaque obcaecati
        nesciunt voluptas voluptate distinctio rerum.
      </p>
      <a href="#" class="btn">Leer más</a>
    </div>
  </div>
</section>
