<section class="home" id="home">
  <div
    class="home-content"
    [ngsRevealSet]="{
      reset: false,
      distance: '80px',
      duration: 2000,
      delay: 200,
      origin: 'top'
    }"
    [ngsSelector]="'.home-content'"
  >
    <h3>Hola,</h3>
    <h1
      [ngsRevealSet]="{
        reset: false,
        distance: '80px',
        duration: 2000,
        delay: 200,
        origin: 'left'
      }"
      [ngsSelector]="'.home-content h1'"
    >
      Yo soy Luis Fernando
    </h1>
    <h3><span #multipleText class="multiple-text"></span></h3>
    <p>
      Soy un apasionado de la tecnología, me gustan los retos y resolver
      problemas, he trabajado para varias companías como desarrollador fullstack
      donde realizo a diario las actividades de análisis, diseño de
      arquitecturas, diagramas de base de datos, búsqueda de soluciones a
      diversos problemas y la codificación; así como las pruebas unitarias de
      los códigos escritos para garantizar el funcionamiento correcto de las
      aplicaciones y entregar productos de calidad.
    </p>
    <div class="social-media">
      <a (click)="goToUrl(1)"><i class="bx bxl-facebook"></i></a>
      <a (click)="goToUrl(2)"><i class="bx bxl-linkedin"></i></a>
      <a (click)="goToUrl(3)"><i class="bx bxl-stack-overflow"></i></a>
      <a (click)="goToUrl(4)"><i class="bx bxl-github"></i></a>
    </div>
    <a (click)="downloadCV()" class="btn">Descargar CV</a>
  </div>

  <div
    class="home-img"
    [ngsRevealSet]="{
      reset: false,
      distance: '80px',
      duration: 2000,
      delay: 200,
      origin: 'bottom'
    }"
    [ngsSelector]="'.home-img'"
  >
    <img src="assets/images/home.png" alt="No se pudo cargar la imágen" />
  </div>
</section>
