<section class="projects" id="projects">
  <h2 class="heading">Ultimos <span>Proyectos</span></h2>

  <div
    class="projects-container"
    [ngsRevealSet]="{
      reset: false,
      distance: '180px',
      duration: 2000,
      delay: 200,
      origin: 'bottom'
    }"
    [ngsSelector]="'.projects-container'"
  >
    <div class="projects-box">
      <img src="assets/images/home.png" alt="" />
      <div class="projects-layer">
        <h4>Aplicación móvil de préstamos</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
          molestias. Voluptatibus sunt debitis recusandae! Eos adipisci optio
          molestiae consectetur voluptates ea labore vero repudiandae dolorum
          nulla eaque aspernatur laboriosa.
        </p>
        <a href=""><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="projects-box">
      <img src="assets/images/home.png" alt="" />
      <div class="projects-layer">
        <h4>Aplicación móvil de préstamos</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
          molestias. Voluptatibus sunt debitis recusandae! Eos adipisci optio
          molestiae consectetur voluptates ea labore vero repudiandae dolorum
          nulla eaque aspernatur laboriosa.
        </p>
        <a href=""><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="projects-box">
      <img src="assets/images/home.png" alt="" />
      <div class="projects-layer">
        <h4>Aplicación móvil de préstamos</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
          molestias. Voluptatibus sunt debitis recusandae! Eos adipisci optio
          molestiae consectetur voluptates ea labore vero repudiandae dolorum
          nulla eaque aspernatur laboriosa.
        </p>
        <a href=""><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="projects-box">
      <img src="assets/images/home.png" alt="" />
      <div class="projects-layer">
        <h4>Aplicación móvil de préstamos</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
          molestias. Voluptatibus sunt debitis recusandae! Eos adipisci optio
          molestiae consectetur voluptates ea labore vero repudiandae dolorum
          nulla eaque aspernatur laboriosa.
        </p>
        <a href=""><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="projects-box">
      <img src="assets/images/home.png" alt="" />
      <div class="projects-layer">
        <h4>Aplicación móvil de préstamos</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
          molestias. Voluptatibus sunt debitis recusandae! Eos adipisci optio
          molestiae consectetur voluptates ea labore vero repudiandae dolorum
          nulla eaque aspernatur laboriosa.
        </p>
        <a href=""><i class="bx bx-link-external"></i></a>
      </div>
    </div>
  </div>
</section>
